
 .flex{
  display: flex;
} 

 table, td {
  border: 1px solid black;
  border-collapse: collapse;

}

@media only screen and (min-width: 0px) and (max-width: 376px) {
  .icons {
    margin-top: 6%;
  }
  .data_container {
    display: flex;
  }
}

.tLeft, .tRight{
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  text-align: center;
}

.green{
  background-color: rgb(159, 179, 130);
}

.td1{
  /* background-color: grey; */
  font-size: 130%;
  padding: 0 0 0 3%;
  text-transform: capitalize;
}