
 .flex{
  display: flex;
} 

 table, td {
  border: 1px solid black;
  border-collapse: collapse;

}

@media only screen and (min-width: 0px) and (max-width: 500px) {
  .icons {
    margin: 10% 5% 0 5% ;
   height: 80%;
  }
 
}

.tLeft, .tRight{
  border: 1px solid rgb(0, 0, 0);
  width: 50%;
  text-align: center;
}

.green{
  background-color: rgb(159, 179, 130);
}

.td1{
  /* background-color: grey; */
  font-size: 130%;
  padding: 0 0 0 3%;
  text-transform: capitalize;
}
.icons {
  margin: 2% ;
 height: 80%;
}